.copyableText{ /* copyable text for mobile version (?) */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    --ion-background-color: #121212;
    background-color: #121212;

}

.contentTitle2{ /*actual title*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    opacity: 1;
    padding-top: 80px;
    
    font-weight: 100;
}

.contentTitle{ /*content fade in*/

    opacity: 0;

}

.underlineTitle{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 3px;
    width: 70px;
    background-color: #25ffff;
    border-radius: 10px;
}

.animation{
    opacity: 1;
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
}

.transitionDiv{
    height: 100px;
    width: 100% !important;
    background-color: #1a1a1a; /* For browsers that do not support gradients */
    background-image: linear-gradient(#1a1a1a, #121212);
}

.margTop{
    margin-top: 80px;
}


.aboutText{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    font-weight: 100;
}


.meColor{
    color:#25FFFF;
}



.aboutIcon{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 300px;
}

.fadeIn1{
    opacity: 0;
}

.fadeIn2{
    opacity: 0;
}


.dskmob{

}





@media (max-width: 1604px) {

    .contentTitle2{
        font-size: 40px
    }
    .aboutText{
        font-size: 22px;
    }

    .aboutIcon{
        width: 260px;
    }
}

@media (max-width: 1290px) {
    .aboutText{
        font-size: 18px;
    }

    .aboutIcon{
        width: 220px;
    }
    .contentTitle2{
        font-size: 35px
    }
}

@media (max-width: 1142px) {
    .contentTitle2{
    }
}

@media (max-width: 840px) {

}


@media (max-width: 767px) { /*display mobile*/

    .dskmob{
        display: block;
    }

    .margTop{
        margin-top: 40px;
    }
    .animation{
        opacity: 1;
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -o-transition: all 2s;
    }

    .aboutText{
        margin-bottom: 50px;
    }
    .aboutIcon{
        width: 150px;
    }

    .underlineTitle{
        height: 2px;
        width: 50px;
    }


}

@media (max-width: 700px) {
    .contentTitle2{
        font-size: 30px
    }
}


@media (max-width: 555px) {
    .contentTitle2{
        font-size: 25px
    }
}

@media (max-width: 400px) {
    .contentTitle2{
        font-size: 20px
    }
}

@media (min-width: 883px) {
    .aboutText{
        margin-top: 15px;
    }
}

@media (min-width: 1067px) {
    .aboutText{
        margin-top: 25px;
    }
}

@media (min-width: 1784px) {
    .aboutText{
        margin-top: 55px;
    }
}


