.copyableText{ /* pra permitir que o usuario copie texto pela versao mobile (?) */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.contentTitle{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    opacity: 0;
}

.animation{
    opacity: 1;
    transition: all 3s;
}