


.test{
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
}

.logocc{
    height: 15px;
    
}


.copyr{
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
    margin-bottom: 0px;

    background-color: ;
}


.teste{
    background-color: ;
}