.transitionDiv{

}

.fadeIn1{
}

.animation{
    opacity: 1;
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
}


.projLeft{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 500px;
    z-index: 0;
    position: relative;



    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

.bgProj{
    position: relative;
    width: 800px;
    height: 700px;
    background-color: rgb(129, 129, 129);
    bottom: 578px;
    margin-left:auto;
    margin-right:auto;
}


.boldT{
    font-weight:bold;
}

ion-card{
    --background: rgba(0, 0, 0, 0.148);
    --color: #c3d4d1;
}


.cardIcon{
    height: 40px;
    margin-right: 10px;
}


@media (max-width:767px) {
    .projLeft{
        border-left: 0px solid white;
        border-top: 0px solid white;
        border-bottom: 2px solid white;
    }
}